@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary-2: oklch(56% 0.25 290);
}

@plugin "@iconify/tailwind4" {
	scale: 1.5;
}

@plugin "daisyui" {
	themes: dark --default;
}

@plugin "daisyui/theme" {
	name: 'dark';
	default: true;

	--color-primary: oklch(56% 0.25 278);
	--color-secondary: oklch(56% 0.06 150);
	--color-base-100: oklch(0.21 0.04 266);
	--color-base-200: oklch(0.21 0.04 264);

	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
}

@utility gradient-primary {
	@apply bg-gradient-to-r from-primary to-primary-2;
}

@utility text-primary {
	@apply gradient-primary bg-clip-text;
}

@utility btn-primary {
	@apply gradient-primary;
}

@utility bg-primary {
	@apply gradient-primary;
}

@utility btn-neutral {
	@apply text-neutral-content;
}

@utility btn-outline {
	@apply bg-none;
}

@utility border {
	border-color: var(--color-gray-700);
}

@utility border-t {
	border-color: var(--color-gray-700);
}

@utility border-r {
	border-color: var(--color-gray-700);
}

@utility border-b {
	border-color: var(--color-gray-700);
}

@utility border-l {
	border-color: var(--color-gray-700);
}

body {
	@apply min-h-screen;
	background-color: #0f172a;
	background-image:
		radial-gradient(circle at 10% 20%, rgba(99, 102, 241, 0.1) 0%, transparent 20%),
		radial-gradient(circle at 90% 40%, rgba(139, 92, 246, 0.1) 0%, transparent 20%),
		radial-gradient(circle at 30% 70%, rgba(16, 185, 129, 0.1) 0%, transparent 20%),
		radial-gradient(circle at 70% 90%, rgba(99, 102, 241, 0.1) 0%, transparent 20%);
	background-attachment: fixed;
}